<!doctype html>
<html ng-app>
  <head>
    <script src='http://code.angularjs.org/angular-1.0.1.min.js'></script>
  </head>
  <body>
    <h1>1. Hello Kitty</h1>
    Hello {{ 'Kitty' }}!
    <hr/>
    <h1>2. Data Binding</h1>
    Name:<input type='text' ng-model='yourname' placeholder='Kitty'/>
    <br/>
    Hello {{ yourname || 'Kitty' }}
    <hr/>
    <h1>3. Controller and Template</h1>
    <div ng-controller='phone_list_controller'>
      Greeting: {{ Hello }}
      Total number of phones: {{ phones.length }}
      <ul>
        <li ng-repeat='phone in phones'>
          {{ phone.name }}
          <p>{{ phone.snippet }}</p>
        </li>
      </ul>
      <ul>
        <li ng-repeat='i in [0, 1, 2, 3, 4, 5, 6, 7]'>
          I is: {{ i }}
          <br/>
          I+1 is: {{ i+1 }}
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      function phone_list_controller($scope){
        $scope.phones = [
          { 'name': 'Nexus S', 'snippet': 'Fast just got faster' },
          { 'name': 'Motorola Xoom', 'snippet': 'with wifi' },
          { 'name': 'Motorala Xoom no wifi', 'snippet': 'no wifi' },
        ];
        $scope.Hello = 'Hello Kitty!';
      }
    </script>
    <h2>Test!</h2>
    <pre>
      <script type="text/javascript">
        describe('phone Controller', function(){
          describe('phone_list_controller', function(){
            it('should create "phones" model with 3 phones', function(){
              var scope = {}
              crtl = new phone_list_controller(scope);
              expect(scope.phones.length).toBe(3);
            });
          });
        });
      </script>
    </pre>
    <hr/>
    <h1>4. Iterator</h1>
    <div ng-controller='search_controller'>
      Search: <input ng-model='query' />
      <ul>
        <li ng-repeat='phone in phones | filter: query'>
          {{ phone.name }}
          <p>{{ phone.snippet }}</p>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      function search_controller($scope){
        $scope.phones = [
          { 'name': 'Nexus S', 'snippet': 'Fast just got faster' },
          { 'name': 'Motorola Xoom', 'snippet': 'with wifi' },
          { 'name': 'Motorala Xoom no wifi', 'snippet': 'no wifi' },
        ];
        $scope.Hello = 'Hello Kitty!';
      }
    </script>
    <h2>Test!</h2>
    <pre>
      <script type="text/javascript">
        describe('angularjs', function(){
          describe('search_controller', function(){
            beforeEach(function(){
              browser().navigateTo('../../app/index.html');
              it('sholud filter the phone list as user types into the search box', function(){
                expect(repeater('.phones li').count()).toBe(3);

                input('query').enter('nexus');
                expect(repeater('.phones li').count()).toBe(1);

                input('query').enter('motorola');
                expect(repeater('.phones li').count()).toBe(2);
              });
            });
          });
        });
      </script>
    </pre>
  </body>
</html>
