<!doctype html>
<html ng-app>
  <head>
    <script src='http://code.angularjs.org/angular-1.0.1.min.js'></script>
  </head>
  <body>
    <h1>1. Hello Kitty</h1>
    Hello {{ 'Kitty' }}!
    <hr/>
    <h1>2. Data Binding</h1>
    Name:<input type='text' ng-model='yourname' placeholder='Kitty'/>
    <br/>
    Hello {{ yourname || 'Kitty' }}
    <hr/>
    <h1>3. Controller and Template</h1>
    <div ng-controller='phone_list_controller'>
      Greeting: {{ Hello }}
      Total number of phones: {{ phones.length }}
      <ul>
        <li ng-repeat='phone in phones'>
          {{ phone.name }}
          <p>{{ phone.snippet }}</p>
        </li>
      </ul>
      <ul>
        <li ng-repeat='i in [0, 1, 2, 3, 4, 5, 6, 7]'>
          I is: {{ i }}
          <br/>
          I+1 is: {{ i+1 }}
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      function phone_list_controller($scope){
        $scope.phones = [
          { 'name': 'Nexus S', 'snippet': 'Fast just got faster' },
          { 'name': 'Motorola Xoom', 'snippet': 'with wifi' },
          { 'name': 'Motorala Xoom no wifi', 'snippet': 'no wifi' },
        ];
        $scope.Hello = 'Hello Kitty!';
      }
    </script>
    <h2>Test!</h2>
    <pre>
      <script type="text/javascript">
        describe('phone Controller', function(){
          describe('phone_list_controller', function(){
            it('should create "phones" model with 3 phones', function(){
              var scope = {}
              crtl = new phone_list_controller(scope);
              expect(scope.phones.length).toBe(3);
            });
          });
        });
      </script>
    </pre>
    <hr/>
    <h1>4. Iterator</h1>
    <div ng-controller='search_controller'>
      Search: <input ng-model='query' />
      <!-- 5. order by -->
      Order By:
      <select ng-model='orderby'>
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      <br/>
      You are seaching for: {{ query || 'none' }}
      <br>
      Order by: {{ orderby }}
      <ul>
        <li ng-repeat='phone in phones | filter: query | orderBy: orderby'>
          {{ phone.name }}
          <p>{{ phone.snippet }}</p>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      function search_controller($scope){
        $scope.phones = [
          { 'name': 'Nexus S', 'snippet': 'Fast just got faster' },
          { 'name': 'Motorola Xoom', 'snippet': 'with wifi' },
          { 'name': 'Motorala Xoom no wifi', 'snippet': 'no wifi' },
        ];
        $scope.Hello = 'Hello Kitty!';
        // order
        $scope.orderby = 'age';
      }
    </script>
    <h2>Test!</h2>
    <pre>
      <script type="text/javascript">
        describe('angularjs', function(){
          describe('search_controller', function(){
            beforeEach(function(){
              browser().navigateTo('../../app/index.html');
              it('sholud filter the phone list as user types into the search box', function(){
                expect(repeater('.phones li').count()).toBe(3);

                input('query').enter('nexus');
                expect(repeater('.phones li').count()).toBe(1);

                input('query').enter('motorola');
                expect(repeater('.phones li').count()).toBe(2);
              });
            });
          });
        });
      </script>
    </pre>
    <pre>
      <script type="text/javascript">
        // 5 -->
        describe('angularjs', function(){
          describe('search_controller', function(){
            beforeEach(function(){
              browser().navigateTo('../../app/index.html');
              it('sholud be possible to control phone order via the dropdown select box', function(){
                input('query').enter('tablet');
                expect(repeater('.phones li', 'Phone List').column('phone.name')).toEqual(['Motorola XOOM\u2122 with wifi', 'Motorola XOOM\u2122']);


                select('orderby').option('Alphabetical');
                expect(repeater('.phones li', 'Phone List').column('phone.name')).toEqual(['Motorola XOOM\u2122', 'Motorola\u2122 with wifi']);
              });
            });
          });
        });
      </script>
    </pre>
    <h1>6. XmlHttpRequest</h1>
    <div ng-controller='xhr_controller'>
      <ul>
        <li ng-repeat='phone in phones | filter: query | orderBy: orderby'>
          {{ phone.name }}
          <p>{{ phone.snippet }}</p>
        </li>
      </ul>
      {{ phones | json }}
    </div>
    <script type="text/javascript">
    function xhr_controller($scope, $http){
      $http.get('./phones_data.json').success(function(data){
        $scope.phones = data.splice(0, 2);
      });
    }
    </script>
    <pre>
      <script type="text/javascript">
        describe('Phone controllers', function(){
          describe('xhr_controller', function(){
            var scope, ctrl, $httpBackend;

            beforeEach(inject(function(_$httpBackend_, $rootScope, $controller){
              $httpBackend = _$httpBackend_;
              $httpBackend.expectGET('./phones_data.json').respond(data);
              scope = $rootScope.$new();
              ctrl = $controller(xhr_controller, {$scope: scope});
            }));

            it('should create "phones" model with 3 phones fetched from xhr', 
              function(){
                expect(scope.phones).toBeUndefined();
                $httpBackend.flush();
                expect(scope.phones).toEqual(data);
              });
          });
        });
      </script>
    </pre>
  </body>
</html>
